.slideshow {
    padding: 40px 0;
  }
  
  .slide {
    width: 75%;
    margin-right: 4vw;
  }

.content-container{
  display: flex;
}

.content-col-text{
  flex: 60%;
  align-content: flex-start;
  padding: 30px;
  color: #7f2549;
}

.content-col-image{
  flex: 40%;
  align-content: flex-start;
}

img{
  width: 100%;
}

.dm-sans{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}  

.cormorant{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cta{
  background: 0 0;
  text-align: center;
  width: 25%;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(127,37,73,.8);
  color: #7f2549;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  letter-spacing: .3125rem;
  line-height: 1.125rem;
  padding: 0.4375rem 2.125rem 0.5625rem;
  text-transform: uppercase;
  text-decoration: none;
}